.Text{
  font-size: var(--font-m);
}

// размерности текста

.small {
  font: var(--font-s);
}

.middle {
  font: var(--font-m)
}

.large {
  font: var(--font-l)
}

.extraLarge {
  font: var(--font-xl)
}

// Темы текста

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}

.error {
  color: var(--error-color);
}

.bold {
  font-weight: var(--bold-font-weight);
}

.italic {
  font-style: italic;
}
