.Button {
  display: block;
  border-radius: var(--border-radius-m);

  &:disabled {
    opacity: 0.5;
  }
}

.outline {
  border: 2px solid var(--primary-color);
}

.filled {
  color: var(--background-color);
  background-color: var(--primary-color);
  border: none;
}
