.dark {
  --secondary-background-color: rgb(47 48 51);
  --highlighted-secondary-background-color: rgb(61 62 66);
  --background-color: rgb(31 31 36);
  --highlighted-background-color: rgb(47 48 51);
  --dark-background-color: rgb(14 14 15);
  --secondary-color: rgb(123 123 133);
  --primary-color: rgb(250 250 255);
  --highlighted-primary-color: rgb(213 213 216);
  --error-color: rgb(250 90 85);
  --skeleton-base-color: rgb(61 62 66);
  --skeleton-shine-color: rgb(73 74 78);
}
