.light {
  --secondary-color: rgb(133 136 158);
  --background-color: rgb(255 255 255);
  --highlighted-background-color: rgb(245 245 248);
  --secondary-background-color: rgb(240 241 245);
  --highlighted-secondary-background-color: rgb(223 224 228);
  --dark-background-color: rgb(227 228 232);
  --primary-color: rgb(0 0 0);
  --highlighted-primary-color: rgb(19 19 19);
  --error-color: rgb(250 90 85);
}
